/* root reset */
* {
    margin: 0;
    padding: 0;
}

/* adding fonts */
@font-face {
    font-family: 'grold';
    src: url("/fonts/grold-regular.woff2") format("opentype");
    font-family: 'knockout';
    src: url("/fonts/knockout-27.woff2") format("opentype");
}




.container-fluid {

    width: auto;
}




a {
    text-decoration: none;
    color: #000000;
    font-family: 'knockout';
    font-size: 2.5rem;
    margin: 20px;
}

#contact-link {

    margin: 0px;
    font-size: 1.5rem;
    text-decoration-line: underline;
    font-family: 'grold';
}


a.active {
    color: #9b9b9b;  
}

/* header index.html */
#hello-header {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom,
     rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
      url(/images/depositphotos_7233769-stock-photo-magic-light-and-walkway-in.jpg);
}

.hello-header-text {

    color: white;
    
}

h1,h3,p,h4 {

    color: #000000;
    
}

h4 {    

    font-family: 'grold';
}


#nav-image {
    height: 40px;
    position: relative;
    
  }




  @media (max-width: 990px) {
    #nav-image {  
        visibility: hidden;
    }
  }

.bi:hover {
    color: white;
}

.text-white {

        font-size: 1rem;
        font-family: 'verdana';
}

button:focus {
    border: transparent;
    outline:transparent;
}



